<section id="root-layout">
  <main>
    <div class="ui inverted vertical masthead center aligned segment">
      <div class="ui container navigation"></div>
      <div class="ui text chat container">
        <h1 class="ui inverted header">
          Chat Example
        </h1>
        <h2>What's possible with multi-user ZeroNet data</h2>
      </div>
    </div>
  </main>
</section>
